.commu .mainBg {
  width : 100%;
  height : 350px;
  margin-top : 80px;
  background : url('/haemulhansang/img/commu/sub_visual5.jpg') no-repeat;
  background-size : cover;
  background-position : center;
}
.commu .content {
  position : relative;
  padding : 175px 0;
}
.commu .content .aniImg {
  width : 62px;
  height : 60px;
  background : url('/haemulhansang/img/about/sub_visual_logo.png') no-repeat;
  position : absolute;
  left : 50%;
  margin-left : -31px;
  top : -80px;
  opacity : 0;
}
.subLogoAni {
  animation : logoAni;
  animation-duration : 3s;
  animation-fill-mode : forwards;
}
@keyframes logoAni {
  0% { top : -80px; opacity : 0;}
  100% {top : -180px; opacity : 1;};
}
.commu .content .titleWrap {
  width : 380px;
  height : 218px;
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content : center;
  background : url('/haemulhansang/img/about/sub_tit_bg.png') no-repeat;
  background-position : center;
  position : absolute;
  left : 50%;
  margin-left : -190px;
  margin-top : -270px;
}
.commu .content .titleWrap .title {
  font-size : 0.875em;
  color : #056437;
  font-weight : bold;
  margin-bottom : 10px;
}
.commu .content .titleWrap .desc {
  font-size : 0.81em;
  color : #4d4d4d;
  text-align : center;
  margin-top : 10px;
  letter-spacing : -1px;
}

@media screen and (min-width : 0px) and (max-width : 767px) {
  .commu .mainBg {
    margin-top : 50px;
  }
}