.commu2Content {
  max-width : 1350px;
  margin : 0 auto;
}
.commu2Content .titleImg {
  position : relative;
  font-size : 1em;
  color : #1c4834;
  font-weight : bold;
  letter-spacing : -1px;
  margin-bottom : 4px;
  padding-left : 40px;
}
.commu2Content .titleImg::before {
  content : '';
  position : absolute;
  background : url('/img/commu/sstit.png') no-repeat;
  width : 40px;
  height : 60px;
  left : 0;
  top : -20px;
}
.commu2Content .titleImg::after {
  content : 'Notice';
  position : absolute;
  color : #1c4834;
  left : 40px;
  top : -20px;
}
.commu2Content .newsWrap {
  display : flex;
  flex-wrap : wrap;
  margin-top : 2.5vw;
}
.commu2Content .newsWrap .newsCont {
  width : 24%;
  margin-right : 1%;
  margin-bottom : 3%;
  cursor : pointer;
}
.commu2Content .newsWrap .newsCont:nth-child(4n){
  margin-right : 0;
}
.commu2Content .newsWrap .newsCont .img {
  width : 100%;
  height : 175px;
  overflow : hidden;
}
.commu2Content .newsWrap .newsCont .img img {
  display : block;
  width : 100%;
  min-height : 175px;
  transition : 0.5s;
}
.commu2Content .newsWrap .newsCont .img img:hover {
  transform : scale(1.05);
}
.commu2Content .newsWrap .newsCont .newsInfo {
  padding : 30px 25px 50px;
  background: rgba(49,101,48,0.1);
}
.commu2Content .newsWrap .newsCont .newsInfo .date {
  font-size : 0.875em;
  color : #316530;
  font-weight : bold;
  margin-bottom : 15px;
}
.commu2Content .newsWrap .newsCont .newsInfo .title {
  font-size : 1em;
  font-weight : 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* newsInform */
.newsInformContent {
  margin-top : 2.5vw;
  border-top : 2px solid #056437;
}
.newsInformContent .newsInformTitle {
  font-size : 1.25em;
  padding : 14px 0;
  color : #333;
  font-weight : bold;
  text-align : center;
  background : #f6f6f6;
}
.newsInformContent .newsInformSup {
  padding : 14px;
  font-size : 0.938em;
}
.newsInformContent .newsInformSup span {
  color : #777;
}
.newsInformContent .newsInformSup > span {
  border-right : 1px solid #d9d9d9;
  padding : 0 15px;
}
.newsInformContent .newsInformSup > span:first-child {
  padding-left : 0;
}
.newsInformContent .newsInformSup > span:nth-last-child(1) {
  border-right : 0;
}
.newsInformContent .newsInformDesc {
  padding : 2.5vw;
  font-size : 1em;
  color : #444444;
}
.newsInformContent .newsInformDesc .newsInformImg {
  margin-bottom : 2vw;
}
.newsInformContent .otherNewsBtn > div {
  display : flex;
  padding : 20px;
  border-top : 1px solid rgb(231, 231, 231);
}
.newsInformContent .otherNewsBtn > div:nth-last-child(1) {
  border-bottom : 1px solid rgb(231, 231, 231);
}
.newsInformContent .otherNewsBtn > div div, .newsInformContent .otherNewsBtn > div a {
  color : #777777;
  font-size : 0.938em;
}
.newsInformContent .otherNewsBtn > div .label {
  position : relative;
  padding-right : 40px;
}
.newsInformContent .otherNewsBtn > div .label::after {
  content : '';
  position : absolute;
  width : 7px;
  height : 7px;
  border-right : 2px solid #999;
  border-bottom : 2px solid #999;
  right : 0;
  margin-right : 20px;
  top : 5px;
  transform : rotate(45deg);
}
.newsInformContent .otherNewsBtn > div:first-child .label::after {
  top : 8px;
  transform : rotate(-135deg);
}
.newsInformContent .goList {
  text-align : right;
  margin-top : 2.5vw;
}
.newsInformContent .goList span {
  background : #056437;
  border : 1px solid #056437;
  padding : 10px 20px;
  color : white;
  cursor : pointer;
  transition : .3s;
}
.newsInformContent .goList span:hover {
  background : white;
  color : #056437;
}

@media screen and (min-width : 0px) and (max-width : 1180px) {
  .commu2Content {
    padding : 0 2%;
  }
  .commu2Content .newsWrap .newsCont {
    width : calc((98% / 3) - 0.01px);
    margin-right : 1%;
    margin-bottom : 3%;
    cursor : pointer;
  }
  .commu2Content .newsWrap .newsCont:nth-child(4n){
    margin-right : 1%;
  }
  .commu2Content .newsWrap .newsCont:nth-child(3n){
    margin-right : 0;
  }
}
@media screen and (min-width : 0px) and (max-width : 767px) {
  .commu2Content {
    padding : 0 2%;
  }
  .commu2Content .newsWrap .newsCont {
    width : calc((99% / 2) - 0.01px);
    margin-right : 0;
    margin-bottom : 3%;
    cursor : pointer;
  }
  .commu2Content .newsWrap .newsCont:nth-child(2n-1){
    margin-right : 1%;
  }
  .commu2Content .newsWrap .newsCont:nth-child(4n){
    margin-right : 0;
  }
  .commu2Content .newsWrap .newsCont .newsInfo {
    padding : 4vw;
  }
  .newsInformContent .newsInformTitle {
    font-size : 4vw;
  }
  .newsInformContent .newsInformSup {
    font-size : 3vw;
  }
  .newsInformContent .newsInformDesc .newsInformImg img {
    display : block;
    width : 100%;
  }
  .newsInformContent .newsInformDesc {
    font-size : 3.7vw;
  }
  .newsInformContent .otherNewsBtn > div div, .newsInformContent .otherNewsBtn > div a {
    font-size : 3vw;
  }
  .newsInformContent .otherNewsBtn > div {
    padding : 2vw;
  }
  .newsInformContent .otherNewsBtn > div .label {
    padding-right : 2vw;
  }
  .newsInformContent .otherNewsBtn > div .label::after {
    width : 0;
    height : 0;
  }
  .newsInformContent .goList span {
    padding : 1vw 2vw;
    font-size : 4vw;
  }
}