.store1Content {
  max-width : 1350px;
  margin : 0 auto;
  overflow : hidden;
}
.store1Content .searchTitle {
  position : relative;
  text-align : center;
  margin-bottom : 6vh;
}
.store1Content .searchTitle::before {
  content : '';
  position : absolute;
  background : url('/haemulhansang/img/store/sstit.png') no-repeat;
  width : 40px;
  height : 60px;
  left : 50%;
  margin-left : -220px;
  top : 28px;
}
.store1Content .searchTitle > div {
  width : 345px;
  color: #1c4834;
  font-size : 1em;
  letter-spacing : -1px;
  margin : 0 auto;
  font-weight : bold;
}
.store1Content .searchWrap {
  width : 50%;
  margin : 0 auto;
}
.store1Content .searchWrap .searchSelect {
  position : relative;
}
.searchWrap .searchSelect .first, .searchWrap .searchSelect .second {
  width : 100%;
  padding : 10px;
  padding-left : 15px;
  margin-bottom : 20px;
  position : relative;
  display : flex;
  align-items : center;
  border : 1px solid #d7d7d7;
  border-radius : 8px;
  background : #f7f7f7;
  color : #707070;
  cursor : pointer;
}
.searchWrap .searchSelect .first::after, .searchWrap .searchSelect .second::after {
  content : '';
  background : url('/haemulhansang/img/store/findstore/store_show_btn.png') no-repeat;
  position : absolute;
  width : 10px;
  height : 10px;
  right : 0;
  top : 17px;
  margin-right : 20px;
}
.searchWrap .searchSelect .distrList {
  display : none;
  position : absolute;
  z-index : 1;
  background : #f7f7f7;
  width : 100%;
  height : 500px;
  border : 1px solid #d7d7d7;
  border-top : 0;
  border-radius : 0 0 10px 10px;
  overflow-y : scroll;
}
.searchWrap .searchSelect .distrList li {
  color : #707070;
  padding : 10px;
  padding-left : 15px;
  width : 100%;
  cursor : pointer;
}
.searchWrap .searchSelect .firstList {
  top : 37px;
}
.searchWrap .searchSelect .secondList {
  top : 100px;
}
.searchWrap .searchTyping .typing {
  width : 70%;
  padding : 10px;
  padding-left : 15px;
  margin-bottom : 20px;
  margin-right : 5%;
  border : 1px solid #d7d7d7;
  border-radius : 8px;
  color : #707070;
}
.searchWrap .searchTyping form {
  display : flex;
}
.searchWrap .searchTyping .button {
  width : 30%;
  height : 40px;
  background : #1c3834;
  padding : 10px;
  padding-left : 15px;
  border-radius : 8px;
  border : 0;
  color : white;
  font-weight : bold;
  cursor : pointer;
}
.stores {
  border-top : 3px solid #316530;
  border-bottom : 3px solid #316530;
  min-height : 600px;
  margin-top : 40px;
  padding-top : 2%;
  display : flex;
  flex-wrap : wrap;
}
.stores .store {
  width : 49%;
  max-height : 260px;
  padding : 2vw;
  margin-right : 2%;
  margin-bottom : 2%;
  display : flex;
  align-items : center;
  border : 1px solid #d7d7d7;
  cursor : pointer;
}
.stores .store:nth-child(2n) {
  margin-right : 0;
}
.stores .store .img {
  width : 50%;
  height : 200px;
}
.stores .store .img img {
  display : block;
  width : 100%;
  height : 100%;
}
.stores .store .desc {
  width : 45%;
  margin-left : 5%;
}
.stores .store .desc .title {
  font-size : 1.935em;
  font-weight : bold;
  padding : 2vh 0;
}
.stores .store .dataWrap {
  display : flex;
  padding : 0.5vh 0;
}
.stores .store .dataWrap .label {
  width : 30%;
  color : #316530;
  letter-spacing : -1px;
  font-weight : bold;
  font-size : 0.95em;
}
.stores .store .dataWrap .data {
  width : 70%;
  color : #575757;
  letter-spacing : -1.5px;
  font-size : 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.displayblock {
  display : block !important;
}

@media screen and (min-width : 0px) and (max-width : 1180px) {
  .stores {
    padding : 2%;
    margin-left : 2%;
    margin-right : 2%;
  }
  .stores .store {
    flex-direction : column;
    min-height : 420px;
  }
  .stores .store:nth-child(2n) {
    margin-right : 0;
  }
  .stores .store .img {
    width : 100%;
    height : 200px;
  }
  .stores .store .img img {
    display : block;
    width : 100%;
    height : 100%;
  }
  .stores .store .desc {
    width : 100%;
    margin : 0;
  }
  .stores .store .desc .title {
    font-size : 1.935em;
    font-weight : bold;
    padding : 2vh 0;
    margin : 0 auto;
    text-align : center;
  }
  .stores .store .dataWrap {
    display : flex;
    padding : 0.5vh 0;
  }
  .stores .store .dataWrap .data {
    width : 70%;
    color : #575757;
    letter-spacing : -1.5px;
    font-size : 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media screen and (min-width : 0px) and (max-width : 767px) {
  .store1Content .searchTitle {
    width : 70%;
    margin : 0 auto;
    margin-bottom : 6vw;
    padding-left : 20px;
  }
  .store1Content .searchTitle img {
    display : block;
    width : 100%;
  }
  .store1Content .searchTitle > div {
    width : 100%;
    font-size : 3.5vw;
  }
  .store1Content .searchTitle::before {
    margin-left : -58%;
    top : 6px;
  }
  .store1Content .searchWrap {
    width : 70%;
  }
  .searchWrap .searchSelect .first, .searchWrap .searchSelect .second, .searchWrap .searchTyping .typing, .searchWrap .searchTyping .button {
    font-size : 3.5vw;
  }
  .stores {
    padding : 2%;
    margin-left : 2%;
    margin-right : 2%;
  }
  .stores .store {
    flex-direction : column;
    height : auto;
    width : 100%;
    margin-right : 0;
  }
  .stores .store:nth-child(2n) {
    margin-right : 0;
  }
  .stores .store .img {
    width : 100%;
    height : 200px;
  }
  .stores .store .img img {
    display : block;
    width : 100%;
    height : 100%;
  }
  .stores .store .desc {
    width : 100%;
    margin : 0;
  }
  .stores .store .desc .title {
    font-size : 6vw;
    font-weight : bold;
    padding : 2vh 0;
    margin : 0 auto;
    text-align : center;
  }
  .stores .store .dataWrap {
    display : flex;
    padding : 0.5vh 0;
  }
  .stores .store .dataWrap .label {
    width : 30%;
    color : #316530;
    letter-spacing : -1px;
    font-weight : bold;
    font-size : 4vw;
    text-align : center;
  }
  .stores .store .dataWrap .data {
    width : 70%;
    color : #575757;
    font-size : 4vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}